.Firstline p{
	color: #000000;
	text-decoration: underline;
}
.Firstline p:hover{
	color: blue;
}
.FirstLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap:10px;
	height: 3em;
}
.gov{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
    line-height:1px;
    /* background-color: red; */
}
.minha{
    display: flex;
    flex-direction: column;
    line-height: 1px;
    /* background-color: blue; */
}
.bharatsarkar{
	height:30%;
}
.grehmantralay{
	height:30%;
}
.ThirdLine{
    display: flex;
	gap:15px;
	height: 7em;
}
.nationalembelem{
    width: 61px;
    height: 104px;
    position: relative;
}
.swachh{
    width: 235px;
    height: 104px;
    position: relative;
}
.azadi{
    width: 177px;
    height: 104px;
    position: relative;
}
.i4c{
    width: 150px;
    height: 104px;
    position: relative;
}
.images{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.nccrd{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column;
    width: 120%;
    align-items: flex-start;
}
.Crimereport{
    display: flex;
    font-family: Hind;
    font-size: medium; 
    font-weight: 400; 
    line-height: 0.25;
    height: 52px;
    position: relative;

}
.Crimereporthindi{
    display:flex;
    font-family: Hind;
    font-size:medium; 
    font-weight: 400; 
    line-height: 0.75;
    height: 52px;
    position: relative;
}
nav{
	display: flex;
    justify-content: space-between;
	align-items: center;
	position: relative;
	left: 0;
	top: 100;
	width:100%;
	z-index: 1;
    background-color: #0261AF;
    transition: 0.6s ease-in-out;
	border-radius: 10px;
}
.logo{
    font-family: calibri;
    display: flex;
    justify-content: flex-start;
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:white;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
	text-decoration: none;
}
.logo:hover{
	background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157);
	background-color: #0261AF;
}
nav dl{
	display: flex;
}
.active{
    background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}
nav dl dd a{
    font-family: calibri;

	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:white;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
	text-decoration: none;
}
nav dl dd a:hover{
	background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
.name{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
    left: 22%;
	top: 50%;
	transform: translate(-22%,-50%);
}
.name span{
    color: #00b7ff;
}
.name .details{
    color: #969696;
}
.name h1{
	font-family:'Montserrat';
	font-size: 40px;
	margin:0px;
	letter-spacing: 2px;
	color:#000000;
}
.header-btns{
    display: flex;
    margin-top: 40px;
}