.full{
    
    flex-direction:row;
    margin-top: 2em;
    justify-content: space-between;
    overflow-y: auto;
}

.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #0261AF;
    justify-content: center;
    position: relative;
    margin-right: 5%;
    width:40%;
    min-height: 30em;
    border-radius: 20px;
}
.box2 ul{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-height: 18em;
    max-height: 20em;
    width: 34.4em;
    overflow-y: auto;
    align-items: center;
}
.box2 ul li{
    display: flex;
    background-color: whitesmoke;
    width: 20em;
    min-height: 4em;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}
.box2 h2{
    display: flex;
    position: relative;
    width:6em;
    height: 2em;
    background-color: #0261AF;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #0261AF;
}
.box2 h2:hover{
    background-color: #00b7ff;
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
    text-decoration: underline;
    text-decoration-color:#00b7ff;
}
.box2 h1{
    color: white;
}
.box1 h1{
    color: white;
}
